Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [94]:
import pandas as pd

In [167]:
mov_ratings = pd.read_csv('ratings.csv')

In [172]:
def class_rating(ratings):
    if ratings <=2:
        return 'low'
    elif (ratings >2) & (ratings <=4):
        return 'mid'
    elif ratings >=4.5:
        return 'high'
    
    return

mov_ratings['class'] = mov_ratings['rating'].apply(class_rating)
mov_ratings.head()

   userId  movieId  rating   timestamp class
0       1       31     2.5  1260759144   mid
1       1     1029     3.0  1260759179   mid
2       1     1061     3.0  1260759182   mid
3       1     1129     2.0  1260759185   low
4       1     1172     4.0  1260759205   mid

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [98]:
geo = pd.read_csv('keywords.csv')

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [166]:
def geo_tag(keyword):
    for key, value in geo_data.items():
        for city in value:
            if city in keyword:
                return key
        return 'undefined'
geo['region'] = geo['keyword'].apply(geo_tag)
geo.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

Задание 3 (бонусное)
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [151]:
years = [i for i in range(1950, 2011)]
years_str = []
for numb in years:
    years_str.append(str(numb))

movs_rat = pd.read_csv('ratings.csv')
movs_by_id = pd.read_csv('movies.csv') 
movs_fin = movs_rat.merge(movs_by_id)

In [152]:
def production_year(rating):
    for y in years_str:
        if y in rating:
            return y
    return '1900'
            
movs_fin['year'] = movs_fin['title'].apply(production_year)

In [163]:
count_stats = movs_fin.filter(items = ['year', 'rating'])
count_stats.head()

def mov_mean(data):
    return data.rating.mean()
ratings_by_years = count_stats.groupby('year').apply(mov_mean)
ratings_by_years

year
1900    3.602960
1950    3.915254
1951    3.983539
1952    4.000000
1953    3.754587
          ...
2006    3.511478
2007    3.548538
2008    3.498057
2009    3.520378
2010    3.537157
Length: 62, dtype: float64